.button{
    background-color: rgb(28, 28, 28);
    width: 90%;
    height: 50px;
    margin-left: 5%;
    border-radius: 20px;
    color: rgb(82, 82, 189);
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}
.button:hover{
    transition: 0.5s;
    background-color: rgb(73, 73, 73);
}

